<div class="container">
  <ul class="list-group" *ngFor="let quiz of page.content">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a [title]="quiz.title" [routerLink]="['/admin/quizzes', quiz.id]" (click)="updateQuizParamsService(quiz.id, quiz.title)">{{ quiz.title }}</a>
      <button type="button" class="close col-sm-2" aria-label="Close" (click)="remove(quiz.id)">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
  </ul>
</div>
