<div class="container">
  <div style="display: flex; justify-content: space-between;">
    <div class="title">
      {{ quizTitle }}
    </div>
    <div>
      <button mat-raised-button (click)="openChangeNameDialog()">Zmień nazwę</button>
    </div>
  </div>

  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let question of questionPage.content" (click)="fetchAnswers(question.id)">
      {{ question.content }}
    </mat-list-option>
  </mat-selection-list>

  <form (ngSubmit)="addQuestion(content.value)">
    <div style="display: flex; justify-content: space-between;">
      <div>
        <label for="questionsContent" style="margin-right: 20px;">Treść pytania</label>
        <input #content type="text" id="questionsContent" name="questionsContent">
      </div>
      <div>
        <button mat-raised-button type="submit">Dodaj</button>
      </div>
    </div>
  </form>
  <hr/>
  <div *ngIf="focusedQuestionId" style="margin-top: 30px;">
    <ul *ngFor="let answer of answers">
      <li style="display: flex; justify-content: space-between;">
        {{ answer.content }}
        <mat-checkbox class="example-margin" color="primary" [checked]="answer.correct" (change)="updateAnswer(answer, $event)">Prawda</mat-checkbox>
      </li>
    </ul>
    <form (ngSubmit)="addAnswer(answer.value)">
      <div style="display: flex; justify-content: space-between">
        <div>
          <label for="answer" style="margin-right: 20px">Odpowiedź</label>
          <input #answer type="text" id="answer">
        </div>
        <div>
          <button mat-raised-button type="submit">Dodaj</button>
        </div>
      </div>
    </form>
    <hr/>
    <div style="margin-left: auto; margin-right: auto; text-align: center">
      <button mat-raised-button color="accent" (click)="openClientsFormDialog()">Generuj</button>
    </div>
  </div>
</div>

